<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Books</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>

    <div id="canvas">
        <div id="header">
            <h1>Welcome, {{request.session.name}}</h1>
            <a href="/logout">Log Out</a>
        </div>
        <div id="content">
            <div id="add">
                <h1>Add a Favorite Book</h1>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
                <form action="/books/add" method="post">
                    {% csrf_token %}
                    <label class="label-col">Title</label>
                    <input class="input-col" type="text" name="title"><br>
                    <label class="label-col">Description</label>
                    <textarea class="input-col" name="description" cols="1" rows="5"></textarea><br>
                    <input type="submit" value="Add" class="button">

                </form><br>

                <a href="/books/user_favorites">View your Favorites List</a>
            </div>

            <div id="book_list">
                <h1>All Books</h1>
                {% for book in books %}
                    <a class="book_link" href="/books/{{book.id}}">{{book.title}}</a><br>
                    <p class="book_details">(added by {{book.uploaded_by.first_name}} {{book.uploaded_by.last_name}})</p>
                    {% if user in book.users_who_like.all %}
                        <i>This is one of your favorites.</i><br>
                    {% else %}
                        <a class="like" href="/books/{{book.id}}/like">Add to Favorites</a><br>
                    {% endif %}
                    <br>
                {% endfor %}
            </div>
        </div>  

    </div>
    
</body>
</html>